* {
  box-sizing: border-box;
  margin: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
}

header {
  position: fixed;
  background-color: #313e85;
  width: 100%;
  z-index: 10;
}
header .page-title {
  color: #ffffff;
  letter-spacing: 3px;
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 70px;
}
header .page-title * {
  font-size: calc(1vw + 0.5rem);
}
@media only screen and (max-width: 912px) {
  header .page-title * {
    font-size: calc(1vw + 0.4rem);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 20px 0;
  width: 60%;
  margin: 100px auto;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.wrapper form {
  width: 80%;
  padding: 20px 0;
}
.wrapper .form-title {
  font-size: calc(1vw + 1rem);
  font-weight: 600;
  color: #f2891f;
  margin-bottom: 20px;
  padding-top: 0;
  background-color: #fff;
  letter-spacing: 1px;
}
.wrapper .title {
  text-align: left;
}
.wrapper .title h2 {
  font-size: calc(1vw + 0.5em);
  color: #313e85;
  letter-spacing: 1px;
  margin-bottom: 10px;
  position: relative;
}
.wrapper .title h2::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  height: 1px;
  background-color: #f2891f;
}
@media only screen and (max-width: 912px) {
  .wrapper .title h2::after {
    top: 10px;
    max-width: 30%;
  }
}
@media only screen and (max-width: 1260px) {
  .wrapper .title h2::after {
    top: 10px;
    max-width: 60%;
  }
}
.wrapper .title h2.title-1::after {
  width: 60%;
}
@media only screen and (max-width: 912px) {
  .wrapper .title h2.title-1::after {
    top: 10px;
    max-width: 30%;
  }
}
@media only screen and (max-width: 1260px) {
  .wrapper .title h2.title-1::after {
    top: 10px;
    max-width: 40%;
  }
}
.wrapper .title h2.title-2::after {
  width: 72%;
}
@media only screen and (max-width: 912px) {
  .wrapper .title h2.title-2::after {
    top: 10px;
    max-width: 40%;
  }
}
@media only screen and (max-width: 1260px) {
  .wrapper .title h2.title-2::after {
    top: 10px;
    max-width: 50%;
  }
}
.wrapper .title h2.title-3::after {
  width: 74%;
}
@media only screen and (max-width: 912px) {
  .wrapper .title h2.title-3::after {
    top: 10px;
    max-width: 40%;
  }
}
@media only screen and (max-width: 1260px) {
  .wrapper .title h2.title-3::after {
    top: 10px;
    max-width: 50%;
  }
}
.wrapper .input-style {
  margin: 30px 0;
}
.wrapper .input-style input, .wrapper .input-style select {
  text-indent: 5px;
  width: calc(1vw + 18em);
  min-width: 200px;
  padding: 10px;
  outline: none;
  transition: 0.1s ease-in;
}
.wrapper .input-style input:focus, .wrapper .input-style select:focus {
  box-shadow: 0 0 10px 0 #313e85;
}
@media only screen and (max-width: 1260px) {
  .wrapper .input-style input:nth-child(2), .wrapper .input-style select:nth-child(2) {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 1260px) {
  .wrapper .input-style input, .wrapper .input-style select {
    width: 100%;
  }
}
.wrapper .input-style .task-row {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}
.wrapper .input-style .task-row .row {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
  margin: 0px 7px 7px 0px;
  text-align: left;
  background-color: #f2891f;
  border-radius: 15px;
  transition: all 0.2s ease-in;
}
.wrapper .input-style .task-row .row:hover {
  background-color: #f49f4b;
}
.wrapper .input-style .task-row p {
  word-wrap: break-word;
  width: 100%;
  color: #ffffff;
  font-size: 1.2em;
  margin-top: 0px;
}
.wrapper .input-style p {
  color: forestgreen;
  font-size: calc(1vw + 0.15em);
  letter-spacing: 1px;
  margin: 0;
  margin-top: 10px;
}
@media only screen and (max-width: 1260px) {
  .wrapper .input-style p {
    font-size: 16px;
  }
}
.wrapper .name-address-group {
  display: flex;
  justify-content: space-between;
}
.wrapper .name-address-group p {
  width: calc(1vw + 18em);
  min-width: 200px;
}
.wrapper .name-address-group textarea {
  min-width: 100%;
  width: 670px;
  text-indent: 10px;
  resize: none;
  outline: none;
  padding-top: 10px;
}
.wrapper .name-address-group textarea:focus {
  box-shadow: 0 0 10px 0 #313e85;
}
@media only screen and (max-width: 1260px) {
  .wrapper .name-address-group {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.wrapper .company-details-group p {
  text-align: left;
  font-size: 0.8em;
}
.wrapper .company-details-group p span {
  color: red;
}
.wrapper .button-group {
  padding: 1.2em 0;
}
.wrapper .button-group .clickable-btn {
  cursor: pointer;
  background-color: #f2891f;
  padding: 10px 25px;
  color: #fff;
  outline: none;
  border: 1px solid #f2891f;
  letter-spacing: 1px;
  transition: all 0.1s ease-in-out;
}
.wrapper .button-group .clickable-btn:hover {
  background-color: #f5ae67;
  color: #fff;
}
.wrapper .button-group .clickable-btn:nth-child(2) {
  margin-left: 20px;
  background-color: #313e85;
  color: #fff;
  border: 1px solid #313e85;
  transition: all 0.1s ease-in-out;
}
.wrapper .button-group .clickable-btn:nth-child(2):hover {
  background-color: #535ea6;
  color: #fff;
  border: 1px solid #535ea6;
}
.wrapper .button-group .approve {
  background-color: green;
  border: 1px solid green;
}
.wrapper .button-group .approve:hover {
  background-color: #348f5a;
  border: 1px solid #348f5a;
}
.wrapper .button-group .reject {
  background-color: red !important;
  border: 1px solid red !important;
}
.wrapper .button-group .reject:hover {
  background-color: #e74c3c !important;
  border: 1px solid #e74c3c !important;
}
@media only screen and (max-width: 912px) {
  .wrapper {
    width: 80%;
  }
}/*# sourceMappingURL=br-cmpDetailsPreview.css.map */