.page-title {
  color: #f2891f;
  font-size: 2rem;
  font-weight: 600;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.tab .tablinks {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.tab .tablinks:last-child {
  border-right: 1px solid black;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 9px 10px;
  transition: 0.3s;
  font-size: 1vw;
}
.tab button span {
  font-size: 1vw;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  border-top: none;
  -webkit-animation: fadeEffect 1s;
          animation: fadeEffect 1s;
  /*For Table*/
}
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tabcontent .hint {
  color: #ff4500;
  font-size: 0.9rem;
  text-align: center;
}
.tabcontent .form-group {
  min-width: 43%;
}
.tabcontent .form-group .required-star {
  color: red;
}
.tabcontent .form-group .form-control {
  font-size: 16px;
  margin-top: 5px;
}
.tabcontent .margin-top-20 {
  margin-top: 20px;
}
.tabcontent .search-group {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.tabcontent .search-group .arrow-icon {
  font-size: 2vw;
  color: #f2891f;
}
.tabcontent .result-box {
  min-height: 200px;
  max-height: 130px;
  max-width: 43%;
  background-color: #ffffff;
  margin-top: 3px;
  overflow-y: auto;
  overflow-x: auto;
  padding: 5px 10px;
  outline: none;
  display: none;
  position: absolute;
}
.tabcontent .result-box li {
  padding: 5px;
  list-style-type: none;
  text-align: left;
}
.tabcontent .result-box li:hover {
  background-color: #d8d7d6;
  cursor: pointer;
}
.tabcontent .button-group {
  padding: 1.2em 0;
}
.tabcontent .button-group .clickable-btn {
  cursor: pointer;
  background-color: #f2891f;
  padding: 10px 15px;
  color: #fff;
  outline: none;
  border: 1px solid #f2891f;
  letter-spacing: 1px;
  transition: all 0.1s ease-in-out;
}
.tabcontent .button-group .clickable-btn:hover {
  background-color: #f5ae67;
  color: #fff;
  border: 1px solid #f5ae67;
}
.tabcontent .button-group .clickable-btn:nth-child(2) {
  margin-left: 20px;
  background-color: #313e85;
  color: #fff;
  border: 1px solid #313e85;
  transition: all 0.1s ease-in-out;
}
.tabcontent .button-group .clickable-btn:nth-child(2):hover {
  background-color: #535ea6;
  color: #fff;
}
.tabcontent .checkbox-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tabcontent .checkbox-group .arrow-icon {
  font-size: 2.5vw;
  color: #f2891f;
}
.tabcontent .checkbox-group form {
  max-width: 43%;
}
.tabcontent .checkbox-group fieldset {
  border: 1px solid gray;
  padding: 15px;
  margin: 10px 0;
  min-height: 360px;
  max-height: 360px;
}
.tabcontent .checkbox-group fieldset legend {
  font-size: calc(1vw + 0.2em);
  font-weight: 600;
  border: none;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0 4px;
  margin: 0;
}
.tabcontent .checkbox-group fieldset legend span {
  color: #f2891f;
}
@media only screen and (max-width: 1260px) {
  .tabcontent .checkbox-group fieldset .table-responsive {
    max-height: 300px;
  }
}
@media only screen and (max-width: 912px) {
  .tabcontent .checkbox-group fieldset .table-responsive {
    max-height: 300px;
  }
}
.tabcontent .checkbox-group table th, .tabcontent .checkbox-group table td {
  font-size: calc(1vw + 0.1em);
}
@media only screen and (max-width: 912px) {
  .tabcontent .checkbox-group table th, .tabcontent .checkbox-group table td {
    font-size: calc(1vw + 0.3em);
  }
}
.tabcontent .checkbox-group table td {
  padding: 7px;
  word-wrap: break-word;
}
.tabcontent .checkbox-group table th {
  padding: 4px;
  background-color: #eeeded;
}
.tabcontent .checkbox-group table th:first-child,
.tabcontent .checkbox-group table td:first-child {
  width: 55%;
}
.tabcontent .checkbox-group table th:last-child,
.tabcontent .checkbox-group table td:last-child {
  width: 20%;
}
.tabcontent .checkbox-group table tbody {
  display: block;
  max-height: 250px;
  overflow-y: scroll;
}
.tabcontent .checkbox-group #student-field table th:first-child,
.tabcontent .checkbox-group #student-field table td:first-child {
  width: 40%;
}
.tabcontent .checkbox-group #student-field table th:last-child,
.tabcontent .checkbox-group #student-field table td:last-child {
  width: 20%;
}
.tabcontent .info-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabcontent .info-group p {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  max-width: 40%;
  min-width: 25%;
  text-align: center;
}
.tabcontent .info-group span {
  width: 10%;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
}
.tabcontent a.remove {
  color: red;
}
.tabcontent .update-group {
  display: flex;
  justify-content: flex-end;
}
.tabcontent .update-group .clickable-btn {
  cursor: pointer;
  background-color: #f2891f;
  padding: 10px 15px;
  color: #fff;
  outline: none;
  border: 1px solid #f2891f;
  letter-spacing: 1px;
  transition: all 0.1s ease-in-out;
}
.tabcontent .update-group .clickable-btn:hover {
  background-color: #f5ae67;
  color: #fff;
  border: 1px solid #f5ae67;
}
.tabcontent .table-title {
  margin-top: 10px;
  font-size: 1.1em;
  text-align: center;
  position: relative;
}
.tabcontent .bs-example {
  margin-top: 1em;
}
.tabcontent .orange-border {
  border: 1px solid #f2891f;
  margin-top: 1em;
}
.tabcontent .grey-btn {
  cursor: pointer;
  background-color: #b9b7b4;
  padding: 10px 15px;
  color: #474747;
  outline: none;
  border: 1px solid #b9b7b4;
  letter-spacing: 1px;
  transition: all 0.1s ease-in-out;
}
.tabcontent .grey-btn:hover {
  background-color: #b9b7b4;
  color: #474747;
  border: 1px solid #b9b7b4;
}
.tabcontent table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.tabcontent table thead {
  font-size: 1.1em;
}
.tabcontent table thead, .tabcontent table tbody, .tabcontent table tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.tabcontent table th, .tabcontent table td {
  text-align: center;
  padding: 12px;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-collapse: collapse;
  word-wrap: break-word;
}
.tabcontent table th {
  background-color: #eeeded;
}
.tabcontent table tbody {
  display: block;
}
.tabcontent table tbody tr {
  transition: all 0.5s;
}
.tabcontent table tbody tr:hover {
  background-color: rgb(235, 235, 235);
}
.tabcontent table tbody button {
  padding: 5px;
  letter-spacing: 1px;
  font-size: 1.1em;
  background-color: transparent;
  color: #ff4500;
  border: none;
  outline: none;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.tabcontent table tbody button:hover {
  background-color: transparent;
  color: #fe6932;
}/*# sourceMappingURL=br-studentSupervisorMap.css.map */