.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: 1px solid #797d7a;
  outline: none;
  cursor: pointer;
  padding: 9px 10px;
  transition: 0.3s;
  font-size: 16px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: block;
  padding: 20px;
  border: 1px solid #797d7a;
  border-top: none;
  width: 100%;
  animation: fadeEffect 1s;
}

.tabcontent table {
  border-collapse: collapse;
  width: 100%;
}

.tabcontent table tbody td,
th {
  border: 1px solid #797d7a;
  text-align: center;
  padding: 8px;
}

button {
  border: none;
  background: transparent;
}

table.sortable th.no-sort {
  padding-top: 0.35em;
}

table.sortable th[aria-sort="descending"] span::after {
  color: currentcolor;
  font-size: 100%;
  top: 0;
}

table.sortable th[aria-sort="ascending"] span::after {
  color: currentcolor;
  font-size: 100%;
  top: 0;
}

table.show-unsorted-icon th:not([aria-sort]) button span::after {
  color: currentcolor;
  font-size: 100%;
  position: relative;
}

table.sortable th:not([aria-sort]) button:focus span::after,
table.sortable th:not([aria-sort]) button:hover span::after {
  color: currentcolor;
  font-size: 100%;
  top: 0;
}

.tables .panel-body {
  padding: 30px 0;
  float: right;
  width: 450px;
}

.tables .bs-example {
  padding: 50px 25px;
}

h3.title1 {
  margin-bottom: 0.8em;
}
