.page-title {
  color: #f2891f;
  font-size: 2rem;
  font-weight: 600;
}

:is(#preview-table_wrapper, #preview-table_paginate) {
  margin-top: 30px;
}

.tabcontent {
  padding: 20px;
  border: 1px solid #ccc;
  border-top: none;
  -webkit-animation: fadeEffect 1s;
          animation: fadeEffect 1s;
  /*For Table*/
}
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tabcontent .form-group {
  min-width: 50%;
  margin-bottom: 0;
}
.tabcontent .form-group .required-star {
  color: red;
}
.tabcontent .form-group .form-control {
  font-size: 16px;
  margin-top: 5px;
  width: 100%;
}
.tabcontent .search-group {
  position: relative;
  max-width: 50%;
  margin: 20px auto 0 auto;
}
.tabcontent .search-group .arrow-icon {
  font-size: 2vw;
  color: #f2891f;
}
.tabcontent .button-group {
  padding: 1.2em 0;
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.tabcontent .button-group .clickable-btn {
  cursor: pointer;
  background-color: #f2891f;
  padding: 10px 15px;
  color: #fff;
  outline: none;
  border: 1px solid #f2891f;
  letter-spacing: 1px;
  transition: all 0.1s ease-in-out;
  margin-right: 20px;
}
.tabcontent .button-group .clickable-btn:hover {
  background-color: #f5ae67;
  color: #fff;
  border: 1px solid #f5ae67;
}
.tabcontent .button-group .clear-btn {
  cursor: pointer;
  background-color: #313e85;
  padding: 10px 15px;
  color: #fff;
  outline: none;
  border: 1px solid #313e85;
  letter-spacing: 1px;
  transition: all 0.1s ease-in-out;
}
.tabcontent .button-group .clear-btn:hover {
  background-color: #4454b0;
  color: #fff;
  border: 1px solid #4454b0;
}
.tabcontent .button-group .grey-btn {
  background-color: #b9b7b4;
  padding: 10px 15px;
  color: #474747;
  outline: none;
  border: 1px solid #b9b7b4;
  letter-spacing: 1px;
  transition: all 0.1s ease-in-out;
  margin-right: 20px;
}
.tabcontent .button-group .grey-btn:hover {
  background-color: #b9b7b4;
  color: #474747;
  border: 1px solid #b9b7b4;
}
.tabcontent .table-title {
  margin-top: 10px;
  font-size: 1.1em;
  text-align: center;
}
.tabcontent .table-title p {
  font-size: 0.8em;
  color: #ff4500;
}
.tabcontent .table-title ~ div {
  margin: 0 auto;
  width: 90% !important;
}
.tabcontent #preview-table_wrapper {
  width: 100%;
}
.tabcontent table {
  width: 100%;
}
.tabcontent table th,
.tabcontent table td {
  text-align: center;
  padding: 12px;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-collapse: collapse;
  word-wrap: break-word;
}
.tabcontent table th {
  background-color: #eeeded;
}
.tabcontent table tbody tr {
  transition: all 0.5s;
}
.tabcontent table tbody tr:hover {
  background-color: rgb(235, 235, 235);
}
.tabcontent table tbody .button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.3em 1.5em;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  outline: none;
}
@media only screen and (max-width: 1260px) {
  .tabcontent table tbody .button {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    max-width: 100%;
  }
}
.tabcontent table tbody .view {
  background-color: #313e85;
}
.tabcontent table tbody .view:hover {
  background-color: #535ea6;
  color: #fff;
}
.tabcontent table tbody .inactive-status {
  color: #ff4500;
  font-weight: bold;
  letter-spacing: 1px;
}
.tabcontent table tbody .active-status {
  color: green;
  font-weight: bold;
  letter-spacing: 1px;
}
.tabcontent #preview-table {
  word-break: break-all;
}/*# sourceMappingURL=br-StudentSupervisor-Manage.css.map */