* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  width: 100%;
  background-color: #f2efef;
}

.outerBox {
  max-width: 70%;
  height: 450px;
  margin: 0px auto;
  margin-top: 150px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 912px) {
  .outerBox {
    flex-direction: column;
    max-width: 90%;
  }
}
.outerBox .tabcontent {
  align-items: center;
  width: 50%;
  padding: 0px 20px;
  background-color: #ffffff;
  height: 100%;
  border-radius: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 912px) {
  .outerBox .tabcontent {
    flex-direction: row;
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
}
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.outerBox .tabcontent h3 {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 600;
  color: #313e85;
}
.outerBox .tabcontent form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  -webkit-animation: fadeEffect 1.5s;
          animation: fadeEffect 1.5s;
}
.outerBox .tabcontent form input[type=password] {
  width: 80%;
  height: 40px;
  border: none;
  border-bottom: 2px solid grey;
  outline: none;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.outerBox .tabcontent form input[type=password]:focus {
  border-bottom: 2px solid #f2891f;
}
.outerBox .tabcontent form .labelInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
}
.outerBox .tabcontent form .labelInput label {
  width: 80%;
  text-align: start;
}
.outerBox .tabcontent form .button-group-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 80%;
}
@media only screen and (max-width: 912px) {
  .outerBox .tabcontent form .button-group-inner {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.outerBox .tabcontent form .button-group-inner * {
  min-width: 45%;
  max-width: 40%;
  height: 40px;
  padding: 0 5px 0 5px;
  letter-spacing: 2px;
  border: none;
  outline: none;
  font-size: calc(0.5em + 0.1vw);
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 912px) {
  .outerBox .tabcontent form .button-group-inner * {
    min-width: 160px;
    font-size: 0.6em;
  }
}
.outerBox .tabcontent form .button-group-inner input[type=submit] {
  background-color: #f2891f;
  border: #f2891f solid 1px;
}
.outerBox .tabcontent form .button-group-inner input[type=submit]:hover {
  background-color: #e8a35e;
}/*# sourceMappingURL=changePassword.css.map */