@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; 
}

form {
    width: 90%;
    padding: 20px 0;
    margin-left:50px
  }

  .user-details .form-title {
    font-size: calc(1vw + 1rem);
    font-weight: 600;
    color: #f2891f;
    margin-bottom: 20px;
    padding-top: 0;
    background-color: #fff;
    letter-spacing: 1px;
  }
  .user-details .title {
    text-align: left;
  }
  .user-details .title h2 {
    font-size: calc(1vw + 0.5em);
    color: #313e85;
    letter-spacing: 1px;
    margin-bottom: 10px;
    position: relative;
  }
  .user-details .title h2::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 0;
    height: 1px;
    background-color: #f2891f;
  }

.page-title {
    color:#f2891f;
    font-size: 2rem;
    font-weight: 600;
  }

  .user-details .title h2.title-1::after {
    width: 70%;
  }
  @media only screen and (max-width: 912px) {
    .user-details .title h2.title-1::after {
      top: 10px;
      max-width: 30%;
    }
  }
  @media only screen and (max-width: 1260px) {
    .user-details .title h2.title-1::after {
      top: 10px;
      max-width: 40%;
    }
  }

  .user-details .title h2.title-2::after {
    width: 78%;
  }
  @media only screen and (max-width: 912px) {
    .user-details .title h2.title-2::after {
      top: 10px;
      max-width: 30%;
    }
  }
  @media only screen and (max-width: 1260px) {
    .user-details .title h2.title-2::after {
      top: 10px;
      max-width: 40%;
    }
  }
  .user-details .title h2.title-3::after {
    width: 80%;
  }
  @media only screen and (max-width: 912px) {
    .user-details .title h2.title-3::after {
      top: 10px;
      max-width: 40%;
    }
  }
  @media only screen and (max-width: 1260px) {
    .user-details .title h2.title-3::after {
      top: 10px;
      max-width: 50%;
    }
  }

  .user-details .title h2.title-4::after {
    width: 87%;
  }
  @media only screen and (max-width: 912px) {
    .user-details .title h2.title-4::after {
      top: 10px;
      max-width: 30%;
    }
  }
  @media only screen and (max-width: 1260px) {
    .user-details .title h2.title-4::after {
      top: 10px;
      max-width: 40%;
    }
  }
  
  .user-details .input-style {
    margin: 30px 0;
  }
  .user-details .input-style input, .user-details .input-style select {
    text-indent: 5px;
    width: calc(8vw + 18em);
    min-width: 200px;
    padding: 10px;
    outline: none;
    transition: 0.1s ease-in;
  }
  .user-details .input-style input:focus, .user-details .input-style select:focus {
    box-shadow: 0 0 10px 0 #313e85;
  }
  @media only screen and (max-width: 1260px) {
    .user-details .input-style input:nth-child(2), .user-details .input-style select:nth-child(2) {
      margin-top: 30px;
    }
  }
  @media only screen and (max-width: 1260px) {
    .user-details .input-style input, .user-details .input-style select {
      width: 100%;
    }
  }
  .user-details .input-style .task-row {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
  }
  .user-details .input-style .task-row .row {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    margin: 0px 7px 7px 0px;
    text-align: left;
    background-color: #f2891f;
    border-radius: 15px;
    transition: all 0.2s ease-in;
  }
  .user-details .input-style .task-row .row:hover {
    background-color: #f49f4b;
  }
  .user-details .input-style .task-row p {
    word-wrap: break-word;
    width: 100%;
    color: #ffffff;
    font-size: 1.2em;
    margin-top: 0px;
  }
  .user-details .input-style p {
    color: forestgreen;
    font-size: calc(1vw + 0.15em);
    letter-spacing: 1px;
    margin: 0;
    margin-top: 10px;
  }
  @media only screen and (max-width: 1260px) {
    .user-details .input-style p {
      font-size: 16px;
    }
  }
  .user-details .name-address-group {
    display: flex;
    justify-content: space-between;
  }
  .user-details .name-address-group p {
    width: calc(1vw + 18em);
    min-width: 200px;
  }
  .user-details .name-address-group textarea {
    min-width: 100%;
    width: 670px;
    text-indent: 10px;
    resize: none;
    outline: none;
    padding-top: 10px;
  }
  .user-details .name-address-group textarea:focus {
    box-shadow: 0 0 10px 0 #313e85;
  }
  @media only screen and (max-width: 1260px) {
    .user-details .name-address-group {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .user-details .company-details-group p {
    text-align: left;
    font-size: 0.8em;
  }
  .user-details .company-details-group p span {
    color: red;
  }
  .user-details .button-group {
    padding: 1.2em 0;
  }
  .user-details .button-group .clickable-btn {
    cursor: pointer;
    background-color: #f2891f;
    padding: 10px 25px;
    color: #fff;
    outline: none;
    border: 1px solid #f2891f;
    letter-spacing: 1px;
    transition: all 0.1s ease-in-out;
    margin-left: 430px;
  }
  .user-details .button-group .clickable-btn:hover {
    background-color: #f5ae67;
    color: #fff;
  }
  .user-details .button-group .clickable-btn:nth-child(2) {
    margin-left: 20px;
    background-color: #313e85;
    color: #fff;
    border: 1px solid #313e85;
    transition: all 0.1s ease-in-out;
  }
  .user-details .button-group .clickable-btn:nth-child(2):hover {
    background-color: #535ea6;
    color: #fff;
    border: 1px solid #535ea6;
  }
  .user-details .button-group .Update {
    background-color: green;
    border: 1px solid green;
  }
  .user-details .button-group .Update:hover {
    background-color: #348f5a;
    border: 1px solid #348f5a;
  }
  .user-details .button-group .Export {
    background-color: red !important;
    border: 1px solid red !important;
  }
  .user-details .button-group .Export:hover {
    background-color: #e74c3c !important;
    border: 1px solid #e74c3c !important;
  }
  @media only screen and (max-width: 912px) {
    .user-details {
      width: 80%;
    }
  }

  .wrapper{
    height: 130px;
    width:1025px;
    display: flex;
    cursor: pointer;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #6990F2;
    font-size: 10px;
  }

  .progress-area .row .content{
    width: 100%;
    margin-left: 15px;
  }
  .progress-area .details{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    justify-content: space-between;
  }
  .progress-area .content .progress-bar{
    height: 6px;
    width: 100%;
    margin-bottom: 4px;
    background: #fff;
    border-radius: 30px;
  }
  .content .progress-bar .progress{
    height: 100%;
    width: 0%;
    background: #6990F2;
    border-radius: inherit;
  }
  .uploaded-area{
    max-height: 232px;
    overflow-y: scroll;
  }
  .uploaded-area.onprogress{
    max-height: 150px;
  }
  .uploaded-area::-webkit-scrollbar{
    width: 0px;
  }
  .uploaded-area .row .content{
    display: flex;
    align-items: center;
  }
  .uploaded-area .row .details{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
  }
  .uploaded-area .row .details .size{
    color: #404040;
    font-size: 11px;
  }
  .uploaded-area i.fa-check{
    font-size: 16px;
  }