.page-title {
    color: #f2891f;
    font-size: 2rem;
    font-weight: 600;
  }
  
  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  .tab .tablinks {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  .tab .tablinks:last-child {
    border-right: 1px solid black;
  }
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 9px 10px;
    transition: 0.3s;
    font-size: 1vw;
  }
  .tab button span {
    font-size: 1vw;
  }
  .tab button:hover {
    background-color: #ddd;
  }
  .tab button.active {
    background-color: #ccc;
  }
  
  .tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    -webkit-animation: fadeEffect 1s;
            animation: fadeEffect 1s;
    /*For Table*/
  }
  .tabcontent .form-group {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    min-width: 43%;
  }
  .tabcontent .form-group .required-star {
    color: red;
  }

  .tabcontent .form-row {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }

  .tabcontent .form-control {
    font-size: 16px;
  }
  
  .tabcontent .result-box {
    min-height: 200px;
    max-height: 130px;
    max-width: 43%;
    background-color: #ffffff;
    margin-top: 3px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px 10px;
    outline: none;
    display: none;
    position: absolute;
  }
  .tabcontent .result-box li {
    padding: 5px;
    list-style-type: none;
    text-align: left;
  }
  .tabcontent .result-box li:hover {
    background-color: #d8d7d6;
    cursor: pointer;
  }
  .tabcontent .button-group {
    padding: 1.2em 0;
  }
  .tabcontent .button-group .clickable-btn {
    cursor: pointer;
    background-color: #f2891f;
    padding: 10px 15px;
    color: #fff;
    outline: none;
    border: 1px solid #f2891f;
    letter-spacing: 1px;
    transition: all 0.1s ease-in-out;
  }
  .tabcontent .button-group .clickable-btn:hover {
    background-color: #f5ae67;
    color: #fff;
    border: 1px solid #f5ae67;
  }
  .tabcontent .button-group .clickable-btn:nth-child(2) {
    margin-left: 20px;
    background-color: #35bdf3;
    color: #fff;
    border: 1px solid #35bdf3;
    transition: all 0.1s ease-in-out;
  }
  .tabcontent .button-group .clickable-btn:nth-child(2):hover {
    background-color: #81ceec;
    color: #fff;
    border: 1px solid #81ceec;
  }
  .tabcontent a.remove {
    color: red;
  }
  .tabcontent .update-group {
    display: flex;
    justify-content: flex-end;
  }
  .tabcontent .update-group .clickable-btn {
    cursor: pointer;
    background-color: #f2891f;
    padding: 10px 15px;
    color: #fff;
    outline: none;
    border: 1px solid #f2891f;
    letter-spacing: 1px;
    transition: all 0.1s ease-in-out;
  }
  .tabcontent .update-group .clickable-btn:hover {
    background-color: #f5ae67;
    color: #fff;
    border: 1px solid #f5ae67;
  }
  .tabcontent .table-title {
    margin-top: 10px;
    text-align: center;
    font-size: 1.1em;
  }
  .tabcontent .bs-example {
    margin-top: 1em;
  }
  .tabcontent .orange-border {
    border: 1px solid #f2891f;
    margin-top: 1em;
  }
  .tabcontent table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
  }
  .tabcontent table thead {
    font-size: 1.1em;
  }
  .tabcontent table thead, .tabcontent table tbody, .tabcontent table tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .tabcontent table th:first-child {
    width: 10%;
  }
  .tabcontent table th:nth-child(5) {
    width: 10%;
  }
  .tabcontent table th, .tabcontent table td {
    text-align: center;
    padding: 12px;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-collapse: collapse;
  }
  .tabcontent table tbody {
    display: block;
    max-height: 420px;
    overflow-y: auto;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    /* Hide scrollbar for Chrome, Safari and Opera */
  }
  .tabcontent table tbody::-webkit-scrollbar {
    display: none;
  }
  .tabcontent table tbody td:first-child {
    width: 10%;
  }
  .tabcontent table tbody td:nth-child(5) {
    width: 10%;
  }
  .tabcontent table tbody tr {
    transition: all 0.5s;
  }
  .tabcontent table tbody tr:hover {
    background-color: rgb(235, 235, 235);
  }
  .tabcontent table tbody .column-max-width {
    max-width: 80px;
    line-height: 1.2em;
  }
  .tabcontent table tbody .description {
    max-width: 150px;
    line-height: 1.2em;
    padding: 5px;
  }
  .tabcontent table .table-btn-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tabcontent table .table-btn-group button {
    width: 100%;
    padding: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #f2891f;
    color: #ffffff;
    border-radius: 3px;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    transition: ease-in-out 0.2s;
  }
  .tabcontent table .table-btn-group .table-delete-btn {
    background-color: #ff4500;
    margin-top: 3px;
  }
  .tabcontent table .table-btn-group .table-delete-btn:hover {
    background-color: #f95f27;
  }
  .tabcontent table .table-btn-group .table-edit-btn:hover {
    background-color: #6c2de9;
  }
  
  @-webkit-keyframes fadeEffect {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeEffect {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }/*# sourceMappingURL=studentRegister.css.map */